body{
  background-image: url("http://i.jeuxactus.com/datas/jeux/p/o/pokmon-emeraude/xl/pokmon-emera-4e264ab2bbf86.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  // figure out how to fix x-axis while image crops from y-axis, centered
}

// .container-fluid  {
//   min-height: 500px;
//   background-color: black;
// }

.row-fluid {
  padding: 10px;
  margin: 10px;
}

.card-group {

}

// .col-3  {
  
//   background-color: crimson;
// }

// .col-5 {
 
//   background-color: violet;
// }