// variables
$black: rgba(17, 21, 28, 1);
$charcoal: rgba(70, 70, 85, 1);
$olive: rgba(148, 149, 139, 1);
$sepia: rgba(255, 225, 198, 1);
$periwinkle: rgba(183, 182, 193, 1);
$transparent: #00FFFF;

// purpose-defined variables
$main-color: $black;
$bg-color: $charcoal;
$bg-color: $olive;
$hover-color: $sepia;
$fade-color: $periwinkle;

.bg-img  {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("image/unova-map-drawn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}


// :root {
//   --blue: #007bff;
//   --indigo: #6610f2;
//   --purple: #6f42c1;
//   --pink: #e83e8c;
//   --red: #dc3545;
//   --orange: #fd7e14;
//   --yellow: #ffc107;
//   --green: #28a745;
//   --teal: #20c997;
//   --cyan: #17a2b8;
//   --white: #fff;
//   --gray: #6c757d;
//   --gray-dark: #343a40;
//   --primary: #007bff;
//   --secondary: #6c757d;
//   --success: #28a745;
//   --info: #17a2b8;
//   --warning: #ffc107;
//   --danger: #dc3545;
//   --light: #f8f9fa;
//   --dark: #343a40;
//
//   --breakpoint-xs: 0;
//   --breakpoint-sm: 576px;
//   --breakpoint-md: 768px;
//   --breakpoint-lg: 992px;
//   --breakpoint-xl: 1200px;
//
//   --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//   --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
// }

// snippets to deconstruct and adjust

// .bg-overlay {
//   background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center center;
//   color: #fff;
//   height: 450px;
//   padding-top: 50px;